---
import BentoGrid from "../layouts/BentoGrid.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Pietrell's Portfolio</title>
  </head>
  <body class="bg-mainBg text-white font-main lg:flex lg:mb-0 h-[100vh]">
    <BentoGrid />
  </body>
</html>
<!-- h-100vh  main my-auto -->
