---
import Header from "../components/Header.astro";
import BentoGrid from "../layouts/BentoGrid.astro";
---

<!-- <style>
  body {
    background: rgb(102, 182, 191);
    background: radial-gradient(
      circle,
      rgba(102, 182, 191, 1) 0%,
      rgba(255, 255, 255, 1) 100%,
      rgba(255, 255, 255, 1) 100%
    );
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
  }
</style> -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Pietrell's Portfolio</title>
  </head>
  <body class="bg-mainBg text-white font-main">
    <Header />
    <BentoGrid />
  </body>
</html>
