---

---

<h2 class="font-bold text-2xl text-center pb-2">About Me</h2>
<p>
  <ul class="list-disc ml-4 flex flex-col gap-2 lg:gap-4 lg:px-4">
    <li class="2xl:text-xl">
      Hello, I'm <span class="font-bold">Piotr</span>, a dedicated web developer.
    </li>
    <li class="2xl:text-xl">
      I specialize in <b>React</b>, <b>Tailwind</b>, <b>JavaScript</b>, <b>Astro</b>, <b>CSS</b>, and <b>HTML</b>.
    </li>
    <li class="2xl:text-xl">
      My priority is to continuously learn and improve my skills.
    </li>
    <li class="2xl:text-xl">Currently, I'm delving deeper into React.</li>
    <li class="2xl:text-xl">
      I'm also passionate about exploring design and user experience principles as well as backend topics.
    </li>
    <li class="2xl:text-xl">
      I'm always open to new projects and collaborations with fellow developers.
    </li>
    <li class="2xl:text-xl">
      If you're interested in working together, please feel free to <span class="font-bold">contact me</span>.
    </li>
  </ul>
</p>
