---
import GridCell from "../layouts/GridCell.astro";
---

<GridCell>
  <h2>About Me</h2>
  <p>
    My name is Piotr and I am a web developer. I have experience with HTML, CSS,
    JavaScript, Astro, Tailwind and React. I am always looking to learn new
    things and improve my skills. I am currently learning React. I am also
    interested in learning more about design and user experience. I am always
    looking for new projects and opportunities to work with other developers. If
    you would like to work with me, please feel free to contact me.
  </p>
</GridCell>
