---
import Projects from "./Projects.astro";
const projects = [
  {
    image:
      "https://www.frontendmentor.io/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdz209s6jk%2Fimage%2Fupload%2Fv1564914816%2FChallenges%2Ftjmihf4uv326gkkz7mbk.jpg&w=384&q=75",
    title: "Project 1",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    image:
      "https://www.frontendmentor.io/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdz209s6jk%2Fimage%2Fupload%2Fv1652196092%2FChallenges%2Fbnjpxmx9fudsmerfj6eo.jpg&w=384&q=75",
    title: "Project 2",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    image:
      "https://www.frontendmentor.io/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdz209s6jk%2Fimage%2Fupload%2Fv1554894929%2FChallenges%2Fqjiprcu1e19yvujjrflv.jpg&w=384&q=75",
    title: "Project 3",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
];
---

<div class="carousel">
  {
    projects.map((project, index) => (
      <div class="carousel__project">
        <img src={project.image} alt="image showing the project" />
        <h3 class="text-center py-4 font-bold text-xl">{project.title}</h3>
        <p class="text-center">{project.description}</p>
      </div>
    ))
  }
  <div class="pt-4 flex justify-around">
    <button
      class="prev hover:cursor-pointer text-xl font-bold"
      aria-label="previous item on the carousel">d-</button
    >
    <div class="flex justify-center gap-4">
      <span
        class="dot w-4 h-4 bg-white inline-block rounded-lg hover:cursor-pointer"
      ></span>
      <span
        class="dot w-4 h-4 bg-white inline-block rounded-lg hover:cursor-pointer"
      ></span>
      <span
        class="dot w-4 h-4 bg-white inline-block rounded-lg hover:cursor-pointer"
      ></span>
    </div>
    <button
      class="next hover:cursor-pointer text-xl font-bold"
      aria-label="next item on the carousel">-b</button
    >
  </div>
</div>
<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("carousel__project");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" bg-blue-500", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " bg-blue-500";
  }

  function prevSlide() {
    plusSlides(-1);
  }

  function nextSlide() {
    plusSlides(1);
  }

  function selectSlide(n) {
    currentSlide(n);
  }

  const prevButton = document.querySelector(".prev");
  prevButton.addEventListener("click", prevSlide);

  const nextButton = document.querySelector(".next");
  nextButton.addEventListener("click", nextSlide);

  const dots = document.querySelectorAll(".dot");
  dots.forEach((dot, index) => {
    dot.addEventListener("click", () => {
      selectSlide(index + 1);
    });
  });
</script>
