<div class="flex justify-center gap-4">
  <span
    class="dot w-4 h-4 bg-white inline-block rounded-lg hover:cursor-pointer"
  ></span>
  <span
    class="dot w-4 h-4 bg-white inline-block rounded-lg hover:cursor-pointer"
  ></span>
  <span
    class="dot w-4 h-4 bg-white inline-block rounded-lg hover:cursor-pointer"
  ></span>
</div>
