---
import GridCell from "../layouts/GridCell.astro";
---

<GridCell>
  <ul class="flex justify-around">
    <li>
      <a href="mailto:piotrplotast2006@gmail.com"
        ><img src="/mail.svg" alt="mail" /></a
      >
    </li>
    <li><a href=""><img src="/brand-discord.svg" alt="discord" /></a></li>
    <li><a href=""><img src="/brand-linkedin.svg" alt="linkedin" /></a></li>
  </ul>
</GridCell>
