---
import MailLink from "./MailLink.astro";
import DiscordLink from "./DiscordLink.astro";
import LinkedInLink from "./LinkedInLink.astro";
---

<h2 class="text-center text-2xl pb-8 font-bold md:text-3xl">Contact Me:</h2>
<ul class="flex justify-around mb-4">
  <li>
    <MailLink />
  </li>
  <li>
    <DiscordLink />
  </li>
  <li>
    <LinkedInLink />
  </li>
</ul>
