---
import Logo from "./Logo.astro";
---

<header>
  <h1
    class="font-bold text-center text-5xl py-4 drop-shadow-[0_0_15px_rgba(255,255,255,1)]"
  >
    Pi<span class="">e</span>trell
  </h1>
</header>
