<article class="bg-gridCell">
  <div>
    <h1 class="">Hi, I'm Pietrell!</h1>
    <p>
      I'm a frontend developer based in the Poland. I'm passionate about
      creating beautiful and functional websites and applications.
    </p>
  </div>
  <img src="/Pietrell-logo-white.png" alt="Profile Picture" />
</article>
