<article class="bg-slate-200">
  <div>
    <h1>Hi, I'm Pietrell!</h1>
    <p>
      I'm a frontend developer based in the Poland. I'm passionate about
      creating beautiful and functional websites and applications.
    </p>
  </div>
  <img src="" alt="Profile Picture" />
</article>
