---

---

<div class="">
  <div>
    <h1 class="font-bold text-3xl lg:text-4xl">
      Hi, I'm <span
        class="bg-gradient-to-r bg-clip-text text-transparent
      from-blue-500 via-pink-500 to-blue-500
      animate-text"
        >Pietrell</span
      >!
    </h1>
    <p class="lg:text-xl">
      I'm a <span class="underline">frontend developer</span> based in Poland. I'm passionate about creating
      beautiful and functional websites and applications.
    </p>
  </div>
</div>
