---
import GridCell from "../layouts/GridCell.astro";
const technologies = ["React", "JavaScript", "TypeScript", "Tailwind"];
---

<GridCell>
  <ul>
    {technologies.map((tech) => <li>{tech}</li>)}
  </ul>
</GridCell>
