---
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import Technologies from "../components/Technologies.astro";
import Projects from "../components/Projects.astro";
import ContactMe from "../components/ContactMe.astro";
---

<main class="grid lg:grid-areas-layout gap-4 mx-8">
  <article class="hero lg:grid-in-hero bg-gridCell">
    <Hero />
  </article>
  <article class="aboutMe lg:grid-in-aboutMe bg-gridCell">
    <AboutMe />
  </article>
  <article class="technologies lg:grid-in-technologies bg-gridCell">
    <Technologies />
  </article>
  <article class="projects lg:grid-in-projects bg-gridCell">
    <Projects />
  </article>
  <article class="contactMe lg:grid-in-contactMe bg-gridCell">
    <ContactMe />
  </article>
</main>
