---
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import Technologies from "../components/Technologies.astro";
import Projects from "../components/Projects.astro";
import ContactMe from "../components/ContactMe.astro";
---

<main class="grid lg:grid-areas-layout gap-4 my-8 mx-4 md:mx-8">
  <article class="bg-gridCell rounded-2xl p-4 lg:grid-in-hero">
    <Hero />
  </article>
  <article class="bg-gridCell rounded-2xl p-4 lg:grid-in-aboutMe">
    <AboutMe />
  </article>
  <article class="bg-gridCell rounded-2xl p-4 lg:grid-in-technologies">
    <Technologies />
  </article>
  <article class="bg-gridCell rounded-2xl lg:grid-in-projects">
    <Projects />
  </article>
  <article class="bg-gridCell rounded-2xl p-4 lg:grid-in-contactMe">
    <ContactMe />
  </article>
</main>
